config dns-filter 'config'
	option enabled '1'
	option ipv6_enabled '1'
	option log_blocked '0'
	option log_allowed '0'
	option log_whitelist '0'
	option block_unknown '0'
	option whitelist_enabled '1'
	option custom_response_enabled '0'
	option max_domains '10000'
	option custom_response_ip '0.0.0.0'
	option domains_file '/etc/dns-filter/blocked-domains.txt'
	option whitelist_file '/etc/dns-filter/whitelisted-domains.txt'
	option auto_load_domains '1'
	option auto_load_whitelist '1'